
  <h1 mat-dialog-title align="center" class="whiteColor">Add a forecast!</h1>
  <div mat-dialog-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label >id</mat-label>
        <input matInput [(ngModel)]="weather.id" name="id">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>temperatureC</mat-label>
        <input matInput [(ngModel)]="weather.temperatureC" name="temperatureC">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Summary</mat-label>
        <input matInput [(ngModel)]="weather.summary" name="summary">
      </mat-form-field>

    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="createWeather()">Ok</button>
  </div>


